<!DOCTYPE html>
<html>

<head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>

  <h3>Table {{ table }} entries {{ start_index }}-{{ end_index }}</h3>

  <table>
    {% if db_attrs %}
    <tr>
      {% for attr in db_attrs %}
      <th>{{ attr }}</th>
      {% endfor %}
    </tr>
    {% endif %} {% if entries %} {% for entry in entries %}
    <tr>
      {% for val in entry %}
      <td>{{ val }}</td>
      {% endfor %}
    </tr>
    {% endfor %} {% endif %}
  </table>
</body>

</html>
