<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>
<body>
<table>
  <tr>
    <th>Time</th>
    <th>Lat</th>
    <th>Long</th>
    <th>Altitude (m)</th>
    <th>TKE (J/kg)</th>
    <th>Wind X (m/s)</th>
    <th>Wind Y (m/s)</th>
    <th>Aircraft Type</th>
  </tr>
{% if reports %}
    {% for report in reports %}
    <tr>
      <td>{{ report.time }}</td>
      <td>{{ report.latitude }}</td>
      <td>{{ report.longitude }}</td>
      <td>{{ report.altitude }}</td>
      <td>{{ report.tke }}</td>
      <td>{{ report.wind_x }}</td>
      <td>{{ report.wind_y }}</td>
      <td>{{ report.aircraft_type.aircraft_type }}</td>
    </tr>
    {% endfor %}
{% endif %}
</table>
</body>
</html>
